<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<listeners> 
                   <listener class-name="Listener.ListenerUtil"/>
          </listeners>

  <test name ="GoogleApp">
 <parameter name="url" value="https://www.google.com/" />
    <classes>
      <class name="TestNGConcepts.GoogleApp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Regression Suite -->
